<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="favicon.svg" />
    <title>cutie zone</title>
  </head>
  <body>
    <main
      class="absolute left-1/2 top-1/2 flex w-full -translate-x-1/2 -translate-y-1/2 flex-col gap-6 text-center"
    >
      <div class="text-xl">oh no! you've been banished to the</div>
      <div class="text-4xl">🌺 cutie zone 🌺</div>
      <div class="text-xl">
        you are too cute for your previous zone and must remain in this one
      </div>
    </main>
  </body>
</html>

<style>
  body {
    background: linear-gradient(to bottom right, #3fe3ca, #9f3fe3);
    color: #f9f9f9;
    background-size: 120% 120%;
    animation: gradient-animation 6s ease infinite;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  div {
    @apply font-bold text-pink-100 shadow-pink-950 drop-shadow-lg;
  }
</style>
